*._*
*.so
*~
.#*
.DS_Store
build/
__pycache__/
/*.egg
/*.egg-info
dist/
/.cache
docs/_build
/*.html
/.vscode
/.mypy_cache
node_modules
/dataset/movies
/_prisma/.env
venv*
.python-version
.dart_tool
.packages
_edgedb_js/querybuilder
.venv
/_dotnet/EdgeDB.Net.IMDBench/bin/*
/_dotnet/EdgeDB.Net.IMDBench/obj/*
/_dotnet/EdgeDB.Net.IMDBench/.vs/*

