*._*
*.so
*~
.#*
.DS_Store
build/
__pycache__/
/*.egg
/*.egg-info
dist/
/.cache
docs/_build
/*.html
/.vscode
/.mypy_cache
node_modules
/dataset/movies
/_prisma/.env
venv*
.python-version
.dart_tool
.packages